<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">Название поста</title>
</head>
<body>
<div class="post">
    <h1 th:text="${post.title}">Название поста</h1>
    <div class="content" th:utext="${post.content}"></div>
    <div class="tags">
        <span th:each="tag : ${post.tags}" th:text="' #' + ${tag.name}"></span>
    </div>

    <div class="actions">
        <button th:onclick="'deletePost(' + ${post.id} + ')'">Удалить пост</button>
        <button th:onclick="'editPost(' + ${post.id} + ')'">Редактировать пост</button>
        <button th:onclick="'likePost(' + ${post.id} + ')'">Поставить Лайк (<span th:text="${post.likes}"></span>)
        </button>
    </div>

    <div class="comments">
        <h2>Комментарии</h2>
        <div th:each="comment : ${post.comments}">
            <div class="comment">
                <p th:text="${comment.text}"></p>
                <div class="comment-actions">
                    <button th:onclick="'editComment(' + ${comment.id} + ')'">Редактировать</button>
                    <button th:onclick="'deleteComment(' + ${comment.id} + ')'">Удалить</button>
                </div>
            </div>
        </div>
    </div>

    <form action="#" th:action="@{/comment}" th:object="${comment}" method="post">
        <p>Комментарий: <input type="text" th:field="*{text}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>